.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  padding: 5px;
  border-color: 1px solid lightblue;
  margin: 2px;
}

.card div {
  width: 33%;
}

.main .innerBox {
  margin: 10px;
  background-color: aliceblue;
  padding: 5px;
}

.innerBox p {
  color: black;
}

.main .menuSection {
  font-size: 22px;
}

.main .price {
  display: flex;
  justify-content: center;
  align-items: center;
}